.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  background-image: url('/oval-bg.png');
  background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}

.homeCotainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.greenBtn{
  border:0px;
  background-color: #abd4a9;
  width:40vw;
  height:5vh;
  margin:20px;
}

.btnGroup{
  display:flex;
  flex-direction: column;

}

.intro{
  font-size:40px;
  position:relative;
  left:100px;
}

.intro h1{
  color:#77a375;
}

.right{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.form{
  
 margin:50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height:80vh;
}

.form input{
  border:0px;
  background-color: #eeeeee;
  width:40vw;
  height:5vh;
  margin:20px;
}

.form h1{
  color:#77a375
}

.formy{
  
  margin:50px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   height:80vh;
 }
.formy h1 {
  color:black;
}
